#loginModal, #signupModal {
  width: 28.75rem;
  height: 100vh;
  z-index: 3;
  background-color: #FFFBFA;
  box-shadow: -10px 10px 20px rgba(40, 11, 15, 0.04);
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  top: 0;
  overflow-y: scroll;
}

.login-modal, .signup-modal {
  position: fixed;
  right: -31.25rem;
  transition: 0.4s ease-in-out;
}

.login-modal-active, .signup-modal-active {
  position: fixed;
  right: 0;
  transition: 0.4s ease-in-out;
}

.bx-x {
  font-size: 2.5rem;
  color: #2c363f;
  cursor: pointer;
}

.login-title {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  color: #2c363f;
}

.username-login-label, .password-login-label {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  color: #2c363f;
}

.username-login-input, .password-login-input {
  width: 25rem;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #fffbfa;
  box-shadow: 5px 10px 20px rgba(40, 11, 15, 0.09),
    -2.5px -5px 10px rgba(40, 11, 15, 0.04);
}

.submit-button {
  height: 3.75rem;
  width: auto;
  margin-bottom: 6.25rem;
  background-image: linear-gradient(to bottom right, #832232, #c01632);
  border: none;
  color: #fffbfa;
  border-radius: 1rem;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
  box-shadow: 5px 10px 20px rgba(40, 11, 15, 0.16);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.submit-button:hover {
  box-shadow: 10px 20px 40px rgba(40, 11, 15, 0.5);
}

.error-div {
  margin-bottom: 1rem;
  color: #832232;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.875rem;

}

.empty-username, .incorrect-username, .empty-password, .incorrect-password {
  display: none;
}