.sidebar-base {
  width: 18.75rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(40, 11, 15, 0.04);
  margin-right: 2.5rem;
}

.sidebar-link {
  text-decoration: none;
}

.sidebar-content {
  height: 3.75rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: 2.5rem;
}

.sidebar-text {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  color: #2c363f;
}

.bx {
  font-size: 2rem;
  color: #2c363f;
}

.active-sidebar {
  box-shadow: inset 5px 5px 10px rgba(40, 11, 15, 0.09),
    inset -5px -5px 10px rgba(40, 11, 15, 0.09);
  transition: 0.4s ease-in-out;
}

.log-out-div {
  margin-top: auto;
}
